<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{%block title%}Space Planning Capture Application{%endblock%}</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

        <style type="text/css">

        canvas {
            display: none;
        }
        video, img, #startbutton {
            display: block;
            float: left;
            border: 10px solid #fff;
            border-radius: 10px;
        }
        #startbutton {
            background: green;
            border: none;
            color: #fff;
            margin: 100px 20px 20px 20px;
            padding: 10px 20px;
            font-size: 20px;
        }
        </style>
    </head>
    <body>
        <content>
            <div class="container">
                {%block content%}{%endblock%}
            </div>
        </content>
        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script src="/js/toolbox-base/interface.js"></script>
        <script src="/js/camera.js"></script>

    </body>
</html>
