{%extends "/layouts/base.html"%}

{%block content%}
    <video id="video"></video>
    <button id="startbutton">Take photo</button>
    <canvas id="canvas"></canvas>
    <img src="http://placekitten.com/g/200/150" id="photo" alt="photo">

    <b id="barcode" />
{%endblock%}
