{%extends "/layouts/base.html"%}

{%block content%}
    <label>Branch: </label>
    {{branches.selectedBranch}}
    <select name="branch">
        {% for branch in branches.branches %}
                <option value="{{branch.branch_code}}">{{branch.branch_name}}</option>
        {%endfor%}
    </select>
    <video id="video"></video>
    <button id="startbutton">Take photo</button>
    <canvas id="canvas"></canvas>
    <img src="http://placekitten.com/g/200/150" id="photo" alt="photo">

    <b id="barcode" />
{%endblock%}
